*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topo{
    width: 100vw;
    height: 100px;
    background-color: #604829;
    position: fixed;
    z-index: 1;
}
.navegacao{
    position: absolute;
    right: 15%;
    top: 40px;
    font-family: 'oswald',sans-serif;
    text-decoration: none;
}
.navegacao a{
    font-family: 'oswald',sans-serif;
    text-decoration: none;
    color: #c4a47c;
    font-size: 20px;
    padding-left: 20px;
    text-shadow:1px 5px 3px #000000;
}
.topo img{
    position:absolute;
    left: 15%;
    width: 100px;
}
.banner{
    background-image: url('img/parallax-imagem1.png');
    background-size: cover;
   background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
}
.conteudo, .endereco{
    text-align: center;
    margin: 50px auto;
    width: 1024px;
    line-height: 28px;
    font-family: 'lato', sans-serif;
}
.endereco{
    width: 100%;
    height: 800px;
    background-image: url('img/parallax-imagem4.png');
    background-size: cover  ;
    background-attachment: fixed;
    padding-top: 6px;
    margin-bottom: 0;
}
.endereco h2, .endereco div{
    background-color: #604829;
    margin-left: 32%;
    margin-right: 32%;
    color: #fff;
    padding-top: 4px;
    padding-bottom:4px ;
}
.endereco h2{
    margin-top: 85px;
    margin-bottom: 40px;
}
.endereco div{
    text-shadow:1px 5px 3px #000000;
    font-size: 13px;
    margin-top: 30px;
}
.conteudo h2{
    color: #c4a47c;
    font-family: 'oswald', sans-serif;
    margin-top: 50px;
}
.conteudo p{
    margin:20px 85px 50px;
}
.img-fundo1{
    background-image: url('img/parallax-imagem2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    position: relative;
}    
.img-fundo2{
    background-image: url('img/parallax-imagem3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 300px;
    width: 100%;
    position: relative;
}
.atendimento{
    background-image: url('img/cafeteria.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.atendimento h2{
    font-family: 'lato';
    font-size: 25px;
}
.lista{
    width:800px ;
    height: 400px;
    margin: 60px auto;
    position: relative;
}
.lista li{
    text-align: left;
    font-size: 20px;
    line-height: 55px;
    margin-top: 5;
    font-family: 'oswald';
    position: relative;
    font-weight: bold;
}
.lista .hora{
    position: absolute;
    right: 0;
    top:0;
    font: size 15px; ;
}
.lista .hora span{
    color: #c4a47c;
    margin-left: 10px;
}
.lista li div hr{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 55%;
    width: 70%;
    margin:  auto ;
}
.rodape{
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-family: 'lato', sans-serif;
    font-size: 12px;
    line-height: 15px;
}
.rodape .inicio{
    position:absolute;
    top: -35px;
    right: 0;
    width: 100px;
}
.rodape span{
    color: #c4a47c;
    font-family: 'fraunces', sans-serif;
    font-size: 14px;
}
.logos{
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -5px;
}
h3{
    position:absolute;
    color: #fff;
    font-family: 'fraunces', sans-serif;
    font-size: 22px;
    top: 40%;
    left: 35%;
    background-color: #604829;
    padding: 2px 30px;
}
h1{
    position:absolute;
    left:15%;
    top: 40%;
    color:#fff;
    font-family: 'FRAUNCES',serif;
    font-size: 65px;
    font-weight: 100;
}
